@import 'variables';
@import "./node_modules/bootstrap/scss/bootstrap";

@import 'bootswatch';

// @import "../../node_modules/jquery/dist/jquery.min.js";
// @import "/../node_modules/popper.js/dist/umd/popper.min.js";
// @import "/../node_modules/bootstrap/dist/js/bootstrap.min.js";


#searchFeature > .row {
    justify-content: center;
    margin: 20px;
}

.bgcolorfirst{
    background-color: hotpink;
}

.bgcolorsecond{
    background-color:orangered;
}

#footerId {
    text-align: center;
}

#createRepoWidget{
    background-color: #ecf0f1;
    height: 75%;
}

#footerId{
    background-color:#ecf0f1; 
    margin-top: 10px;
}

#createRepoWidget > .card > #cardBody{
   //text-align: center;
   height: 75%;
}

#buttonSection {
    text-align: center;
}

#input-box-size{
    width: 75%;
}

.alignCenter{
    text-align: center;
}

#repoName{
    margin: auto;
}

.alignLeft{
    text-align: left;
}

.alignRight{
    text-align: right;
}



